{% extends "base.html" %}
{% load static %}

{% block title %} Monopoly {% endblock %}

{% block files %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div id="login-container" class="card">
    <div class="card-blur-container">
        <div class="card-blur"></div>
    </div>
    <div class="card-content-container">
        <form id="form-container" class="center" method="POST">
            {% csrf_token %}
            <span id="login-title">Login to Monopoly</span>
            {% if error %}
                <span id="login-error" class="card"> {{ error }} </span>
            {% endif %}
            <input name="username" id="login-user-name" placeholder="User Name" required />
            <button type="submit" id="login-submit" class="large-button">Enter</button>
        </form>
    </div>
</div>
{% endblock %}